/* Main body structure and text */

body {
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    margin: 0 auto;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400px;
}

h1 {
    font-weight: 800px;
    font-size: 30px;
    color: #F33A6A

}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500px;
    color: #191970
}

/* Nav element and links */

nav ul {
    width: 500px;
    padding: 15px;
    margin: 0px auto 20px auto;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav li {
    display: inline;
    margin: 0px 3px;
    padding: 3px;
   
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color:blueviolet;
}

/* Setting up container structure */

.container {
    border: 2px solid grey;
    padding: 10px;
    margin: 10px auto;
}

/* Page color styles container */

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 10px auto;
}

.jade {
    background-color: #00A36C;
}

.rose {
    background-color: #F33A6A;
}

.midnightblue {
    background-color: #191970;
    color: #FFF;
}

.ashGray {
    background-color: #B2BEB5;
}

/* Page font style container */

.font-panel {
    display: inline-block;
    width: 45%;
}

.font-title {
    text-decoration: underline;
    font-size: 18px;;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brushScript {
    font-family: 'Brush Script MT', cursive;
}

/* Page text styles container */


.box {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    position: relative;
    left: 185px;
    bottom: 38px;
    background-color: #F33A6A
}

li {
    padding: 10px;
}

#h2font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2box {
    width: 30px;
    height: 30px;
    border: 3px solid #000000;
    position: relative;
    left: 270px;
    bottom: 38px;
    background-color: #191970;

}