body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10%;
}

.container {
    border: 2px solid grey;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 10px auto;
}

.jade {
    background-color: #00A36C;
}

.rose {
    background-color: #F33A6A;
}

.midnightblue {
    background-color: #191970;
    color: #FFF;
}

.ashGray {
    background-color: #B2BEB5;
}

.font-panel {
    display: inline-block;
    width: 35%;
    margin: 10px auto;
}

.font-title {
    text-decoration: underline;
    font-size: 18px;;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}