body {
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    margin: 0 auto;
    background-color: #efefef;
}

ul {
    width: 500px;
    padding: 15px;
    margin: 0px auto 20px auto;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav li {
    display: inline;
    margin: 0px 3px;
    padding: 3px;
   
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color:blueviolet;
}

.container {
    border: 2px solid grey;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 10px auto;
}

.jade {
    background-color: #00A36C;
}

.rose {
    background-color: #F33A6A;
}

.midnightblue {
    background-color: #191970;
    color: #FFF;
}

.ashGray {
    background-color: #B2BEB5;
}

.font-panel {
    display: inline-block;
    width: 45%;
}

.font-title {
    text-decoration: underline;
    font-size: 18px;;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brushScript {
    font-family: 'Brush Script MT', cursive;
}